<a href="https://colab.research.google.com/github/AvK1002/Python-Problems/blob/main/Python_Practice_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Given the string "Hello, World!", extract and print the substring "Hello".

In [1]:
print("Hello, World!"[0:5])

Hello

# 2. Given the string "Python is fun", extract and print the substring "is".

In [2]:
print("Python is fun"[7:10])

is

# 3. Given the string "Programming", extract and print the substring "gram" using slicing indices.

In [3]:
print("Programming"[3:7])

gram

# 4. Given the string "abcdefgh", use slicing to print only the characters at even indices.

In [4]:
print("abcdefgh"[::2])

aceg

# 5. Given the string "abcdefg", use negative indices to extract and print the substring "efg".

In [7]:
print("abcdefg"[-3:])

efg

# 6. Given the string "Data Science", use negative indices to extract and print the last three characters.

In [8]:
print("Data Science"[-3:])

nce

# 7. Given the string "abcdefghij", use slicing with a step to print every second character.

In [9]:
print("abcdefghij"[::2])

acegi

# 8. Given the string "1234567890", use slicing with a step to print the odd digits.

In [13]:
print("1234567890"[0::2])

13579

# 9. Given the string "Hello", use slicing to print the string in reverse order.

In [14]:
print("Hello"[::-1])

olleH

# 10. Given the string "abcdefghijk", extract and print the substring "acegik" using slicing.

In [15]:
print("abcdefghijk"[::2])

acegik

# 11. Write a program to find sum of all elements in a list of integers.

In [16]:
print(sum([1,2,3,4,5]))

15

# 12. Input a sentence as a string.
a) Print its length

b) Print the first half of string

In [17]:
x = input("Enter a sentence: ")
print(len(x))
print(x[:len(x)//2])

Enter a sentence: Aswin
5
As

# 13. Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

In [18]:
num = (78, 45, 32, 19, 82, 77, 40, 39)
my_list = list(num)
my_list[2] = 100
new_tuple = tuple(my_list)
print(new_tuple)

(78, 45, 100, 19, 82, 77, 40, 39)

# 14. Consider a list
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

(a) Delete the first occurrence of 32

(b) Delete all occurrences of 40

(c) Delete the value at index=5

(d) Modify the value at index=9 as 300

(e) Add 200 at index=2

(f) Print the final list with its length, maximum value
and sum of all elements

In [20]:
listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.remove(32)
while 40 in listA:
    listA.remove(40)
del listA[5]
listA[8] = 300
listA.insert(2, 200)
print("Final list:", listA)
print("Length of the list:", len(listA))
print("Maximum value in the list:", max(listA))
print("Sum of all elements in the list:", sum(listA))

Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 300]
Length of the list: 10
Maximum value in the list: 300
Sum of all elements in the list: 751

# 15. Consider a string ”The day has been long”.

(a) Delete the value at index =4

(b) Print the string 4 times in a single line with space
between each repetition

(c) Print the string 3 times in a new line each time

(d) Modify the string at index 7 as ’A’

(e) Print the string from index 4 to 15

(f) Print the final string with its length

In [21]:
string1 = "The day has been long"
list1 = list(string1)
del list1[4]
string1 = "".join(list1)
print((string1 + " ") * 4)
print((string1 + "\n") * 3)
list1 = list(string1)
list1[7] = 'A'
string1 = "".join(list1)
print(string1[4:16])
print("Final string: ", string1)
print("Length of the final string: ", len(string1))

The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long

ay Aas been
Final string:  The ay Aas been long
Length of the final string:  20